.header{
    position: fixed;
    width: 2011px;
    height: 84px;
    left: 0px;
    top: 0px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.rectangle{
    position: absolute;

    width: 2011px;
    height: 84px;
    left: 0px;
    top: 0px;

    background: #007765;
}
.logo{
    position: absolute;
    width: 184px;
    height: 45px;
    left: 501px;
    top: 20px;
}
#theproble{
    position: absolute;
    width: 129px;
    height: 20px;
    left: 1187px;
    top: -5px;
    right: 695px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;

}
.\|1{
    position: absolute;
    width: 7px;
    height: 20px;
    left: 1324px;
    top: -5px;
    right: 680px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
}
.\|2{
    position: absolute;
    width: 6px;
    height: 20px;
    left: 1501px;
    top: -5px;
    right: 504px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;

}
#PiedPiperCoin{
    position: absolute;
    width: 153px;
    height: 20px;
    left: 1340px;
    top: -5px;
    right: 518px;

    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}
#theteam{
    position: absolute;
    width: 95px;
    height: 29px;
    left: 1516px;
    top: -5px;

    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}
.header{
    position: absolute;
    width: 2011px;
    height: 84px;
    left: 0px;
    top: 0px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
#logo2{
    position: absolute;
    width: 1219px;
    height: 100px;
    left: 396px;
    top: 100px;

    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 84px;
    text-align: center;

    color: #FFFFFF;
}
.Jumbotron{
    position: absolute;
    width: 2011px;
    height: 403px;
    left: 0px;
    top: 84px;
}
.TheProblem{
    position: absolute;
    width: 2011px;
    height: 719px;
    left: 0px;
    top: 487px;
    background: #EEEEEE;
}
#The_Problem{
    position: absolute;
    width: 1107px;
    height: 75px;
    left: 451px;
    top: 5px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    /* identical to box height */
    text-align: center;
    color: #007765;
}
.Text{
    position: absolute;
    width: 1110px;
    height: 488px;
    left: 451px;
    top: 130px;

    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;

    color: #000000;
}
.neyron{
    position: absolute;
    width: 2011px;
    height: 483px;
    left: 0px;
    top: 1206px;
    background: url(photo/neyron.png);
}
#problem2{
    position: absolute;
    width: 893px;
    height: 127px;
    left: 559px;
    top: 90px;

    font-family: 'Roboto',sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-align: center;

    color: #FFFFFF;
}
#logo3{
    position: absolute;
    width: 1110px;
    height: 481px;
    left: 451px;
    top: 10px;

    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    /* identical to box height */

    text-align: center;

    color: #007765;
}
.PPC{
    position: absolute;
    width: 2011px;
    height: 604px;
    left: 0px;
    top: 1689px;

    background: #FFFFFF;
}
#PPClogo{

    position: absolute;
    width: 115px;
    height: 115px;
    left: 451px;
    top: 170px;
    right: 1445px;
}
#PPCTEXT{
    position: absolute;

    height: 355px;
    left: 614px;
    top: 139px;

    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;

    color: #000000;

}
#textppc{
    position: absolute;
    width: 1110px;
    height: 223px;
    left: 451px;
    top: 289px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;

    color: #000000;
}
#textppc {
    position: absolute;
    width: 1110px;
    height: 223px;
    left: 451px;
    top: 289px;

    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;

    color: #000000;
}
.TheTeam{
    position: absolute;
    width: 2011px;
    height: 845px;
    left: 0px;
    top: 2293px;

    background: #EEEEEE;

}
.theteam2{
    position: absolute;
    width: 1110px;
    height: 75px;
    left: 451px;
    top: 58px;

    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 75px;
    /* identical to box height */

    text-align: center;

    color: #007765;
}
.RichardHendricks{
    position: absolute;
    width: 350px;
    height: 283px;
    left: 100px;
    top: 165px;
    right: 1210px;
}
#RichardHendricksphoto{
    position: absolute;
    width: 168px;
    height: 168px;
    left: 451px;
    top: 32px;
    bottom: 488px;
    right: 1301px;
}
#RichardHendricks{
    position: absolute;
    width: 300px;
    height: 29px;
    left: 425px;
    top: 165px;

    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */


    color: #007765;
}
#FounderCEO{
    position: absolute;
    width: 200px;
    height: 22px;
    left: 468px;
    top: 190px;

    font-family: 'Roboto',sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #000000;

}
.DineshChugtai{
    position: absolute;
    width: 350px;
    height: 283px;
    left: 815px;
    top: 158px;
    right: 846px;
}
.DineshChugtaiphoto{
    position: absolute;
    width: 168px;
    height: 168px;
    left: 120px;
    top: 35px;
    bottom: 488px;
    right: 646px;
}
#DineshChugtai{
    position: absolute;
    width: 350px;
    height: 29px;
    left: 30px;
    top: 172px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */

    text-align: center;

    color: #007765;

}
#SeniorProgrammer{
    position: absolute;
    width: 350px;
    height: 22px;
    left: 30px;
    top: 197px;

    font-family: 'Roboto',sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #000000;
}
.BertramGilfoyle{
    position: absolute;
    width: 350px;
    height: 283px;
    left: 1320px;
    top: 160px;
}
.BertramGilfoylephoto{
    position: absolute;
    width: 168px;
    height: 168px;
    left: 5px;
    top: 32px;
}
#BertramGilfoyle{
    position: absolute;
    width: 350px;
    height: 29px;
    left: -85px;
    top: 168px;

    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */

    text-align: center;

    color: #007765;
}
#ChiefSystemsArchitect{
    position: absolute;
    width: 350px;
    height: 22px;
    left: -85px;
    top: 193px;

    font-family: 'Roboto',sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #000000;
}
.JaredDunn{
    position: absolute;
    width: 350px;
    height: 283px;
    left: 451px;
    top: 471px;
}
.JaredDunnphoto{
    position: absolute;
    width: 168px;
    height: 168px;
    left: 100px;
    top: 20px;

}
#JaredDunn{
    position: absolute;
    width: 350px;
    height: 29px;
    left: 5px;
    top: 155px;

    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */
    text-align: center;
    color: #007765;
}
#ChiefOperatingOfficer{
    position: absolute;
    width: 350px;
    height: 22px;
    left: 5px;
    top: 180px;


    font-family: 'Roboto',sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #000000;

}
.MonicaHall{
    position: absolute;
    width: 350px;
    height: 283px;
    left: 936px;
    top: 490px;

}
#MonicaHall{
    position: absolute;
    width: 168px;
    height: 168px;
    left: 0px;
    top: 135px;

    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */

    text-align: center;

    color: #007765;
}
#ChiefFinancialOfficer{
    position: absolute;
    width: 350px;
    height: 22px;
    left: -90px;
    top: 160px;

    font-family: 'Roboto',sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #000000;
}
.NelsonBighetti{
    position: absolute;
    width: 350px;
    height: 283px;
    left: 1325px;
    top: 490px;
}
#NelsonBighetti{
    position: absolute;
    width: 350px;
    height: 29px;
    left: -90px;
    top: 135px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */

    text-align: center;

    color: #007765;
}
#MajorityInvestor{
    position: absolute;
    width: 350px;
    height: 22px;
    left: -90px;
    top: 160px;

    font-family: 'Roboto',sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #000000;
}
.footer{
    position: absolute;
    width: 2011px;
    height: 176px;
    left: 0px;
    top: 0px;
}
.rectangle2{
    position: absolute;
    width: 2011px;
    height: 176px;
    left: 0px;
    top: 3138px;

    background: #333333;
}
#txtfooter{
    position: absolute;
    width: 540px;
    height: 64px;
    left: 736px;
    top: 50px;

    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #FFFFFF;
}